$pc-total: 980px;
$head-bkg: #1c2438;
$head-bottom-border: #c7b7b7;
$head-child-border: #848282;
$head-height: 70px;
$pc-carousel: 530px;
$mobile-carousel: 230px;
$pc-ad:$pc-total - $pc-carousel - $head-height;
