$pc-total: 980px;
$head-bkg: #1c2438;
$head-bottom-border: #c7b7b7;
$head-child-border: #848282;
$head-height: 60px;
$pc-carousel: 550px;
$mobile-carousel: 230px;
$pc-ad:$pc-total - $pc-carousel - $head-height;


$balck: #333;
$assist-black: #666;
$small-black: #808080;
$white: #fff;

$grey-ground:#f5f5f5;
